@import "../../assets/css/variable.scss";
@import "../../assets/css/mixin.scss";
header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: block;
    padding: 21px 0;
    background: $body-bg-color;
    width: 100%;
    .navbar {
        .navbar-nav {
            .nav-item {
                padding: 5px 12px;
                transition: all 0.3s;
                &:hover {
                    .nav-link {
                        color: #ff4343;
                    }
                }
                .nav-link {
                    @include styleText($color-white-1, $body-fs, $fw-bold);
                    padding: 5px;
                }
            }
        }
        .navbar-toggler {
            .navbar-toggler-icon {
                width: 30px;
                height: 25px;
                position: relative;
                span {
                    position: absolute;
                    left: 0;
                    display: inline-block;
                    width: 100%;
                    height: 3px;
                    background-color: $color-white;
                    transition: all ease 0.3s;
                }
                span:first-child {
                    top: 0;
                    transform: rotate(45deg) translate(6px, 13px);
                }
                span:nth-child(2) {
                    top: 44%;
                    opacity: 0;
                }
                span:last-child {
                    bottom: 0;
                    transform: rotate(-45deg) translate(3px, -9px);
                }
            }
        }
        .navbar-toggler.collapsed {
            .navbar-toggler-icon {
                span:first-child {
                    top: 0;
                    transform: rotate(0) translate(0px);
                }
                span:nth-child(2) {
                    top: 44%;
                    opacity: 1;
                }
                span:last-child {
                    bottom: 0;
                    transform: rotate(0) translate(0px);
                }
            }
        }
    }
}

@include responsive(large) {
    header {
        .navbar {
            .navbar-nav {
                .nav-item {
                    transition: all ease 0.3s;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    &:hover {
                        background-color: #aa52a1;
                        .nav-link {
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}
